.ccc{
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
}
  .cc{
    display: flex;
     height : 100vh; 
     transition: 0.3s;
    
    
background: rgb(200,39,39);
background: linear-gradient(0deg, rgba(196, 45, 45, 0.388) 0%, rgb(65, 60, 106) 100%);
  }

  input[type=text]{
     border-radius: 25px;
     border: 1px solid black;
     color: black;
     width: 350px;
     height: 50px;
     padding-left: 10px;
     margin-top: 25px;
     font-size: large;
}
    
input[type=text]:focus {
     outline: none;
     font-size: large;
     border: 1px solid #0c0c0c;
     color: black;
}

input[type=submit]{
  border-radius: 20px;
  border: 1px solid rgb(110, 85, 117); 
  background-color: rgb(110, 85, 117);
  color:black;
  width: 150px;
  height: 40px;
  padding-left: 10px;
  margin-top: 25px;
  font-size: large;
  
 }
 input[type=submit]:focus {
  outline: none;
 
}
input[type=submit]:hover {
  box-shadow: 0 3px 5px 0 rgba(21, 19, 19, 0.2);
 
}

@media screen and (max-width: 600px) {  input[type=text] {
    width: 50%;
  }
}